.search-bar {
  margin: 20px;
  text-align: center;
  width: 75%;
}
.search-bar input {
  widows: 75%;
}

.video-item img {
  max-width: 64%;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.search-bar input {
  width: 75%;
}

.footer-bg {
  background-color: #777777
}

.footer-text{
  font-size: 1rem;
  color: #554477;
}

.footer-text:hover{
  color: blue;
  font-size: 120%;
}

.search-bar-input{
  padding: 0 0 0 0.5rem;
}

.search-bar-button {
  background: #ddd;
  font-size: 17px;
  border: none;
  height: 100%;
  cursor: pointer;
}

.search-bar-button:hover {
  background: #ccc;
}

.footer-layout{
  background-color: #eee;
  text-align: center;
  border: 1;
  border-radius: 0.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}